.TitolC {
    font-size: 36px;
    color: #283c5a;
    text-align: center;
    margin-top: 20px;
    font-family: 'Lexend', sans-serif;
}
h2 {
    font-size: 24px;
    color: #386185;
    text-align: center;
    margin-top: 20px;
    font-family: 'Lexend', sans-serif;
}
h3 {
    font-size: 16px;
    color: #accecf;
    text-align: center;
    margin-top: 15px;
    font-family: 'Lexend', sans-serif;
}
#numEquips {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    padding: 5px;
    border: 4px solid #283c5a;
    border-radius: 5px;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff;
    background-color: #386185;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#si{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff;
    background-color: #3e8538;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#no{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff;
    background-color: #853838;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
